<section class="h-screen w-screen text-center relative overflow-hidden">
    <div class="h-full flex flex-col">
        <header class="z-40 text-white">
            <h1 class="pt-24 text-[56px] font-bold">Model Y</h1>
            <p class="text-sm font-semibold underline underline-offset-[3px]">Agenda una prueba de manejo</p>
        </header>
        <div class="absolute top-0 bottom-0 h-full">
            <img class="w-full h-auto object-cover object-center"
                src="Homepage-Model-Y-Desktop-Global-v2.avif"
                alt="">
        </div>
        <footer class="flex flex-col flex-grow justify-end pb-8 z-40">
            <div class="flex justify-center gap-4 text-sm font-semibold">
                <a href="" class="py-[10px] px-1 justify-center items-center flex  bg-blue-600 rounded-md">
                    <span class="w-64 text-white">Ordenar</span>
                </a>
                <a href="" class="py-[10px] px-1 justify-center items-center flex  bg-white rounded-md">
                    <span class="w-64 text-black">Más informacion</span>
                </a>
            </div>
        </footer>
    </div>
</section>