<section class="h-screen w-screen relative overflow-hidden">
    <div class="h-full flex flex-col justify-center">
        <header class="z-40 text-white flex flex-grow flex-col justify-end px-16 pt-60 pb-7">
            <h1 class="pt-24 text-4xl font-bold">Somos Tesla</h1>
        </header>
        <div class="absolute top-0 bottom-0 h-full">
            <video muted loop autoplay class="w-full h-auto object-cover object-center"
                src="Homepage-We-Are-Tesla-Desktop.webm"
                alt=""></video>
        </div>
        <footer class="flex flex-col flex-grow justify-start text-center pb-8 z-40 px-16">
            <div class="flex gap-4 text-sm font-semibold">
                <a href="" class="py-[10px] px-1 justify-center items-center flex  bg-white rounded-md">
                    <span class="w-48 text-black">Únetenos</span>
                </a>
            </div>
        </footer>
        <div class="absolute inset-0 bg-black opacity-10 pointer-events-none"></div>
    </div>
</section>